.container {
  display: flex;
  justify-content: center; /* Центрируем контейнер по горизонтали */
  align-items: center; /* Центрируем контейнер по вертикали */
  height: 70vh; /* 100% высоты окна браузера */
}

.form {
  max-width: 50%; /* Максимальная ширина формы 50% экрана */
  width: 100%; /* Ширина формы 100% */
  padding: 20px; /* Добавляем отступы вокруг формы */
  display: flex;
  flex-direction: column;
}
