.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin-bottom: 5rem;
}

.mat-card {
  width: 90%;
  max-width: 400px;
  padding: 2rem;
}

.settings-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  align-self: flex-start;
}

.input-field {
  width: 100%;
  margin-bottom: 20px;
}

.submit-btn {
  width: 100%;
}

.avatar-container {
  position: relative;
  width: 10rem; /* Ширина изображения */
  margin-bottom: 1rem;
}

.avatar {
  width: 100%;
  border-radius: 100%;
  object-fit: cover;
}

.edit-button-invisible {
  display: none;
}

.avatar-dark {
  filter: brightness(0.7) contrast(0.8);
}

.edit-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
