<mat-toolbar>
  <span class="cursor-pointer" routerLink="/">conduit</span>
  <span class="spacer"></span>
  <article-create-button></article-create-button>
  <button mat-icon-button (click)="onSwitchMode()">
    <ng-container *ngIf="isDarkMode; else lightMode">
      <mat-icon>light_mode</mat-icon>
    </ng-container>
    <ng-template #lightMode>
      <mat-icon>dark_mode</mat-icon>
    </ng-template>
  </button>
  <span class="vertical-line"></span>
  <button [matMenuTriggerFor]="menu" class="avatar-button">
    <img
      class="avatar-image"
      src="https://kartinki.pics/uploads/posts/2022-03/thumbs/1646961318_2-kartinkin-net-p-kartinki-dlya-profilya-stim-2.jpg"
      alt="User Avatar"
    />
  </button>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-label>Profile</mat-label>
    <mat-icon>person</mat-icon>
  </button>
  <button mat-menu-item routerLink="/profile/edit">
    <mat-label>Settings</mat-label>
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-menu-item>
    <mat-label>Logout</mat-label>
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-menu>
