.spacer {
  flex: 1 1 auto;
}

.vertical-line {
  height: 24px;
  width: 1px;
  background-color: #ccc;
  margin: 0 16px;
}
.avatar-button {
  width: auto;
  padding: 0;
  border-radius: 50%;
  overflow: hidden;
}
.avatar-image {
  width: 2.5rem;
  height: 100%;
  object-fit: cover;
}
