<div class="container">
  <mat-card class="mat-card">
    <mat-card-content class="mat-card-content">
      <form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <h1>Create an article</h1>
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput formControlName="title" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Body</mat-label>
          <textarea matInput formControlName="body"></textarea>
        </mat-form-field>
        <input-tags (tagsChanged)="onTagsChange($event)"> </input-tags>
        <button mat-raised-button color="primary">Publish article</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
