@if(selectArticle(); as selectArticle) {
  <div class="article-page">
    <div class="banner">
      <mc-article-banner [article]="selectArticle.article"/>
    </div>

    <div class="container page">
      <div class="row article-content">
        <mc-article-content [article]="selectArticle.article"/>
      </div>

      <hr />

      <div class="article-actions">
        <mc-article-actions [article]="selectArticle.article"/>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-8 offset-md-2">
          <mc-comment-form />

          <mc-comments />
        </div>
      </div>
    </div>
  </div>
}
