<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">
          {{ isLoginMode() ? 'Sign in' : 'Sign up' }}
        </h1>
        <p class="text-xs-center">
          <a routerLink="/auth" (click)="changeMode()">{{
            isLoginMode() ? "Don't have an account?" : 'Have an account?'
          }}</a>
        </p>

        <mc-errors
          [errors]="errors()"
        ></mc-errors>

        <form [formGroup]="authForm" (ngSubmit)="submit()">
          @if (!isLoginMode()) {
            <fieldset class="form-group">
              <input
                class="form-control form-control-lg"
                type="text"
                placeholder="Username"
                formControlName="username"
              />
            </fieldset>
          }
          <fieldset class="form-group">
            <input
              class="form-control form-control-lg"
              type="text"
              placeholder="Email"
              formControlName="email"
            />
          </fieldset>
          <fieldset class="form-group">
            <input
              class="form-control form-control-lg"
              type="password"
              placeholder="Password"
              formControlName="password"
            />
          </fieldset>
          <button
            class="btn btn-lg btn-primary pull-xs-right"
            type="submit"
            #submitButton
            [disabled]="!authForm.valid || authStatus().includes('loading')"
          >
            {{ isLoginMode() ? 'Sign in' : 'Sign up' }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
