<div class="container">
  <mat-card class="mat-card">
    <mat-card-content>
      <form
        class="settings-form"
        [formGroup]="formGroup"
        (ngSubmit)="onUpdate()"
      >
        <h1 class="form-title">Your settings</h1>
        <avatar-edit></avatar-edit>
        <mat-form-field class="input-field">
          <mat-label>Username</mat-label>
          <input matInput [formControlName]="'username'" />
        </mat-form-field>
        <mat-form-field class="input-field">
          <mat-label>Short bio about you</mat-label>
          <textarea
            matInput
            placeholder="Ex. My name is Adilkhan, I'm 19..."
            [formControlName]="'bio'"
          ></textarea>
        </mat-form-field>
        <mat-form-field class="input-field">
          <mat-label>Email</mat-label>
          <input matInput type="text" [formControlName]="'email'" />
        </mat-form-field>
        <mat-form-field class="input-field">
          <mat-label>Password</mat-label>
          <input matInput type="password" [formControlName]="'password'" />
        </mat-form-field>
        <button mat-raised-button color="primary" class="submit-btn">
          Update settings
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
