<div class="wrapper">
  <mat-sidenav-container
    fullscreen
    class="sidenav-container"
    [ngClass]="{'dark-theme': isDarkMode, 'light-theme': !isDarkMode}"
  >
    <ui-header
      (switchMode)="onSwitchMode()"
      [isDarkMode]="isDarkMode"
    ></ui-header>
    <!-- Контейнер с контентом -->
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
    <!-- Подвал -->
    <div class="content-footer">
      <div class="footer">
        <ui-footer></ui-footer>
      </div>
    </div>
  </mat-sidenav-container>
</div>
