.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-container {
  flex-grow: 1; /* Расширяется, чтобы занять все доступное пространство между header и footer */
  padding: 1.5rem;
  position: relative;
  z-index: -1;
}

.content-footer {
  flex-grow: 1; /* Расширяется, чтобы заполнить доступное пространство между header и footer */
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

ui-header,
ui-footer {
  position: relative;
  z-index: 2;
}
