<div class="home-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <mc-feed-toggle></mc-feed-toggle>

        <mc-article-preview></mc-article-preview>

        <mc-pagination></mc-pagination>
      </div>

      <div class="col-md-3">
        <mc-tags-list></mc-tags-list>
      </div>
    </div>
  </div>
</div>
