<div class="home-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        @if(selectArticles(); as selectArticles) {
          <mc-feed-toggle></mc-feed-toggle>

          @for(article of selectArticles.articles; track article.slug) {
            <mc-article-preview
              [article]="article"
            />
          }

          <mc-pagination></mc-pagination>
        }
      </div>

      <div class="col-md-3">
        @if(selectTags(); as selectTags) {
          <mc-tags-list
            [tags]="selectTags.tags"
          ></mc-tags-list>
        }
      </div>
    </div>
  </div>
</div>
