<div class="article-preview">
  <div class="article-meta">
    <a href="/profile/eric-simons"
    ><img src="http://i.imgur.com/Qr71crq.jpg"
    /></a>
    <div class="info">
      <a href="/profile/eric-simons" class="author">Eric Simons</a>
      <span class="date">January 20th</span>
    </div>
    <button class="btn btn-outline-primary btn-sm pull-xs-right">
      <i class="ion-heart"></i> 29
    </button>
  </div>
  <a
    href="/article/how-to-build-webapps-that-scale"
    class="preview-link"
  >
    <h1>How to build webapps that scale</h1>
    <p>This is the description for the post.</p>
    <span>Read more...</span>
    <ul class="tag-list">
      <li class="tag-default tag-pill tag-outline">realworld</li>
      <li class="tag-default tag-pill tag-outline">implementations</li>
    </ul>
  </a>
</div>
