.avatar-container {
  position: relative;
}

.avatar {
  max-width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.edit-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.edit-button-invisible {
  display: none;
}

.avatar-dark {
  filter: brightness(0.3);
}
